{% extends "profiles/profile.html" %}

{% block profile_content %}
<hr>
<h2 class="text-center logo-font text-grey mb-2"> Manage Products</h2>
<hr>
<div>
    <p class="col-lg-8 mx-auto">
        On this page you can add: Fitness product, Fitness Plan, Fitness Day, Fitness Category and Gym.
        You can also access pages for all the Merchandise, Plans, Days and Gyms which can be edited or deleted 
        as well as Fitness plans categories and Merchandise categories.
    </p>
    <hr class="mb-2">
    <p class="col-lg-8 mx-auto">
        Please mind that <strong>to be able to create a fitness plan you must first create it as a product</strong>.
        This might seem redundant, however, is necessary to enable purchase. 
        <br class="mb-2">
        Filling some the fields in forms is not necessary but will make the user experience better so we would strongly recommend doing so. 
        <br class="mb-2">
        Rating will show as /5.00.
    </p>
    <hr class="mb-2">
</div>
<div class="row">
    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mx-auto my-3">
        <a class="logo-font font-weight-bold text-black mr-5" href="{% url 'add_product' %}">Add product</a>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mx-auto my-3">
        <a class="logo-font font-weight-bold text-black mr-5" href="{% url 'add_plan' %}">Add Fitness Plan</a>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mx-auto my-3">
        <a class="logo-font font-weight-bold text-black mr-5" href="{% url 'add_day' %}">Add Fitness Day</a>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mx-auto my-3">
        <a class="logo-font font-weight-bold text-black mr-5" href="{% url 'add_gym' %}">Add Gym</a>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mx-auto my-3">
        <a class="logo-font font-weight-bold text-black mr-5" href="{% url 'add_fitness_category' %}">Add Fitness Category</a>
    </div>
</div>
<div class="row">
    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mx-auto my-3">
        <a class="logo-font font-weight-bold text-black mr-5" href="{% url 'merchandise' %}?category=activewear,workout_equipment">All Merchandise</a>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mx-auto my-3">
        <a class="logo-font font-weight-bold text-black mr-5" href="{% url 'plans' %}">All Fitness Plans</a>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mx-auto my-3">
        <a class="logo-font font-weight-bold text-black mr-5" href="{% url 'days' %}">All Fitness Days</a>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mx-auto my-3">
        <a class="logo-font font-weight-bold text-black mr-5" href="{% url 'gyms' %}">All Gyms</a>
    </div>
</div>
{% endblock %}

