{% extends "profiles/profile.html" %}

{% block profile_content %}
<div class="row justify-content-center">
    <div class="col-12 col-lg-10">
        <h2 class="text-center logo-font text-black mb-4"> Order History </h2>
        <div class="order-history table-responsive">
            <table class="table table-sm table-borderless table-striped">
                <thead>
                    <tr>
                        <th>Order Number</th>
                        <th>Date</th>
                        <th>Items</th>
                        <th>Order Total</th>
                    </tr>
                </thead>
                <tbody> {% for order in orders %} <tr>
                        <td>
                            <a class='order-link' href="{% url 'order_history' order.order_number %}" title="{{ order.order_number }}">
                                {{ order.order_number|truncatechars:6 }}
                            </a>
                        </td>
                        <td>{{ order.date }}</td>
                        <td>
                            <ul class="list-unstyled">
                                {% for item in order.lineitems.all %}
                                <li class="small"> {% if item.product.has_sizes %} Size {{ item.product.size|upper }} {% endif %}
                                    {{ item.product.name }} x{{ item.quantity }}
                                </li> {% endfor %}
                            </ul>
                        </td>
                        <td>£{{ order.grand_total }}</td>
                    </tr> {% endfor %} </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}