{% extends "profiles/profile.html" %}

{% block profile_content %}

<hr>
<h2 class="text-center logo-font text-black mb-4"> Your fitness plan </h2>
<hr>
{% if profile.fitness_plan %}
<p class="text-black text-center">{{ profile.fitness_plan.friendly_name }}</p>
<div class="row">
    <div class="col-12 col-md-6 col-lg-4 mx-auto">
        <div class="image-container my-5 product-image">
            {% if profile.fitness_plan.image %}
            <a href="{{ profile.fitness_plan.image.url }}" target="_blank">
                <img class="card-img-top img-fluid" src="{{ profile.fitness_plan.image.url }}"
                    alt="{{ profile.fitness_plan.friendly_name }}">
            </a>
            {% else %}
            <a href="">
                <img class="card-img-top img-fluid" src="/media/Noimageavailable.webp"
                    alt="{{ profile.fitness_plan.friendly_name }}">
            </a>
            {% endif %}
        </div>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-sm-5 col-md-3 col-lg-2 mb-1">
        <div class="card h-100 border-0">
            <p>{{ profile.fitness_plan.day_one.friendly_name }}</p>
            {% if profile.fitness_plan.day_one.is_rest == False %}
            {% if profile.fitness_plan.day_one.completed == True %}
            <p>!Completed!</p>
            <a class="btn btn-grey rounded-0 my-2" title="Go to workout day page"
                href="{% url 'day' profile.fitness_plan.id profile.fitness_plan.day_one.id  %}">Again!</a>
            {% else %}
            {% if date_now >= profile.fitness_plan.day_one.available_from %}
            <a class="btn btn-grey rounded-0 my-2" title="Go to workout day page"
                href="{% url 'day' profile.fitness_plan.id profile.fitness_plan.day_one.id  %}">Workout!</a>
            {% endif %}
            {% endif %}
            {% endif %}
        </div>
    </div>
    <div class="col-sm-5 col-md-3 col-lg-2 mb-1">
        <div class="card h-100 border-0">
            <p>{{ profile.fitness_plan.day_two.friendly_name }}</p>
            {% if profile.fitness_plan.day_two.is_plan == False %}
            {% if profile.fitness_plan.day_two.completed == True %}
            <p>!Completed!</p>
            <a class="btn btn-grey rounded-0 my-2" title="Go to workout day page"
                href="{% url 'day' profile.fitness_plan.id profile.fitness_plan.day_two.id  %}">Again!</a>
            {% else %}
            {% if date_now >= profile.fitness_plan.day_two.available_from %}
            <a class="btn btn-grey rounded-0 my-2" title="Go to workout day page"
                href="{% url 'day' profile.fitness_plan.id profile.fitness_plan.day_two.id  %}">Workout!</a>
            {% endif %}
            {% endif %}
            {% endif %}
        </div>
    </div>
    <div class="col-sm-5 col-md-3 col-lg-2 mb-1">
        <div class="card h-100 border-0">
            <p>{{ profile.fitness_plan.day_three.friendly_name }}</p>
            {% if profile.fitness_plan.day_three.is_plan == False %}
            {% if profile.fitness_plan.day_three.completed == True %}
            <p>!Completed!</p>
            <a class="btn btn-grey rounded-0 my-2" title="Go to workout day page"
                href="{% url 'day' profile.fitness_plan.id profile.fitness_plan.day_three.id  %}">Again!</a>
            {% else %}
            {% if date_now >= profile.fitness_plan.day_three.available_from %}
            <a class="btn btn-grey rounded-0 my-2" title="Go to workout day page"
                href="{% url 'day' profile.fitness_plan.id profile.fitness_plan.day_three.id  %}">Workout!</a>
            {% endif %}
            {% endif %}
            {% endif %}
        </div>
    </div>
    <div class="col-sm-5 col-md-3 col-lg-2 mb-1">
        <div class="card h-100 border-0">
            <p>{{ profile.fitness_plan.day_four.friendly_name }}</p>
            {% if profile.fitness_plan.day_four.is_plan == False %}
            {% if profile.fitness_plan.day_four.completed == True %}
            <p>!Completed!</p>
            <a class="btn btn-grey rounded-0 my-2" title="Go to workout day page"
                href="{% url 'day' profile.fitness_plan.id profile.fitness_plan.day_four.id  %}">Again!</a>
            {% else %}
            {% if date_now >= profile.fitness_plan.day_four.available_from %}
            <a class="btn btn-grey rounded-0 my-2" title="Go to workout day page"
                href="{% url 'day' profile.fitness_plan.id profile.fitness_plan.day_four.id  %}">Workout!</a>
            {% endif %}
            {% endif %}
            {% endif %}
        </div>
    </div>
    <div class="col-sm-5 col-md-3 col-lg-2 mb-1">
        <div class="card h-100 border-0">
            <p>{{ profile.fitness_plan.day_five.friendly_name }}</p>
            {% if profile.fitness_plan.day_five.is_plan == False %}
            {% if profile.fitness_plan.day_five.completed == True %}
            <p>!Completed!</p>
            <a class="btn btn-grey rounded-0 my-2" title="Go to workout day page"
                href="{% url 'day' profile.fitness_plan.id profile.fitness_plan.day_five.id  %}">Again!</a>
            {% else %}
            {% if date_now >= profile.fitness_plan.day_five.available_from %}
            <a class="btn btn-grey rounded-0 my-2" title="Go to workout day page"
                href="{% url 'day' profile.fitness_plan.id profile.fitness_plan.day_five.id  %}">Workout!</a>
            {% endif %}
            {% endif %}
            {% endif %}
        </div>
    </div>
    <div class="col-sm-5 col-md-3 col-lg-2 mb-1">
        <div class="card h-100 border-0">
            <p>{{ profile.fitness_plan.day_six.friendly_name }}</p>
            {% if profile.fitness_plan.day_six.is_plan == False %}
            {% if profile.fitness_plan.day_six.completed == True %}
            <p>!Completed!</p>
            <a class="btn btn-grey rounded-0 my-2" title="Go to workout day page"
                href="{% url 'day' profile.fitness_plan.id profile.fitness_plan.day_six.id  %}">Again!</a>
            {% else %}
            {% if date_now >= profile.fitness_plan.day_six.available_from %}
            <a class="btn btn-grey rounded-0 my-2" title="Go to workout day page"
                href="{% url 'day' profile.fitness_plan.id profile.fitness_plan.day_six.id  %}">Workout!</a>
            {% endif %}
            {% endif %}
            {% endif %}
        </div>
    </div>
    <div class="col-sm-5 col-md-3 col-lg-2 mb-1">
        <div class="card h-100 border-0">
            <p>{{ profile.fitness_plan.day_seven.friendly_name }}</p>
            {% if profile.fitness_plan.day_seven.is_plan == False %}
            {% if profile.fitness_plan.day_seven.completed == True %}
            <p>!Completed!</p>
            <a class="btn btn-grey rounded-0 my-2" title="Go to workout day page"
                href="{% url 'day' profile.fitness_plan.id profile.fitness_plan.day_seven.id  %}">Again!</a>
            {% else %}
            {% if date_now >= profile.fitness_plan.day_seven.available_from %}
            <a class="btn btn-grey rounded-0 my-2" title="Go to workout day page"
                href="{% url 'day' profile.fitness_plan.id profile.fitness_plan.day_seven.id  %}">Workout!</a>
            {% endif %}
            {% endif %}
            {% endif %}
        </div>
    </div>
    <div class="col-sm-5 col-md-3 col-lg-2 mb-1">
        <div class="card h-100 border-0">
            <p>{{ profile.fitness_plan.day_eight.friendly_name }}</p>
            {% if profile.fitness_plan.day_eight.is_plan == False %}
            {% if profile.fitness_plan.day_eight.completed == True %}
            <p>!Completed!</p>
            <a class="btn btn-grey rounded-0 my-2" title="Go to workout day page"
                href="{% url 'day' profile.fitness_plan.id profile.fitness_plan.day_eight.id  %}">Again!</a>
            {% else %}
            {% if date_now >= profile.fitness_plan.day_eight.available_from %}
            <a class="btn btn-grey rounded-0 my-2" title="Go to workout day page"
                href="{% url 'day' profile.fitness_plan.id profile.fitness_plan.day_eight.id  %}">Workout!</a>
            {% endif %}
            {% endif %}
            {% endif %}
        </div>
    </div>
    <div class="col-sm-5 col-md-3 col-lg-2 mb-1">
        <div class="card h-100 border-0">
            <p>{{ profile.fitness_plan.day_nine.friendly_name }}</p>
            {% if profile.fitness_plan.day_nine.is_plan == False %}
            {% if profile.fitness_plan.day_nine.completed == True %}
            <p>!Completed!</p>
            <a class="btn btn-grey rounded-0 my-2" title="Go to workout day page"
                href="{% url 'day' profile.fitness_plan.id profile.fitness_plan.day_nine.id  %}">Again!</a>
            {% else %}
            {% if date_now >= profile.fitness_plan.day_nine.available_from %}
            <a class="btn btn-grey rounded-0 my-2" title="Go to workout day page"
                href="{% url 'day' profile.fitness_plan.id profile.fitness_plan.day_nine.id  %}">Workout!</a>
            {% endif %}
            {% endif %}
            {% endif %}
        </div>
    </div>
    <div class="col-sm-5 col-md-3 col-lg-2 mb-1">
        <div class="card h-100 border-0">
            <p>{{ profile.fitness_plan.day_ten.friendly_name }}</p>
            {% if profile.fitness_plan.day_ten.is_plan == False %}
            {% if profile.fitness_plan.day_ten.completed == True %}
            <p>!Completed!</p>
            <a class="btn btn-grey rounded-0 my-2" title="Go to workout day page"
                href="{% url 'day' profile.fitness_plan.id profile.fitness_plan.day_ten.id  %}">Again!</a>
            {% else %}
            {% if date_now >= profile.fitness_plan.day_ten.available_from %}
            <a class="btn btn-grey rounded-0 my-2" title="Go to workout day page"
                href="{% url 'day' profile.fitness_plan.id profile.fitness_plan.day_ten.id  %}">Workout!</a>
            {% endif %}
            {% endif %}
            {% endif %}
        </div>
    </div>
    <div class="col-sm-5 col-md-3 col-lg-2 mb-1">
        <div class="card h-100 border-0">
            <p>{{ profile.fitness_plan.day_eleven.friendly_name }}</p>
            {% if profile.fitness_plan.day_eleven.is_plan == False %}
            {% if profile.fitness_plan.day_eleven.completed == True %}
            <p>!Completed!</p>
            <a class="btn btn-grey rounded-0 my-2" title="Go to workout day page"
                href="{% url 'day' profile.fitness_plan.id profile.fitness_plan.day_eleven.id  %}">Again!</a>
            {% else %}
            {% if date_now >= profile.fitness_plan.day_eleven.available_from %}
            <a class="btn btn-grey rounded-0 my-2" title="Go to workout day page"
                href="{% url 'day' profile.fitness_plan.id profile.fitness_plan.day_eleven.id  %}">Workout!</a>
            {% endif %}
            {% endif %}
            {% endif %}
        </div>
    </div>
    <div class="col-sm-5 col-md-3 col-lg-2 mb-1">
        <div class="card h-100 border-0">
            <p>{{ profile.fitness_plan.day_twelve.friendly_name }}</p>
            {% if profile.fitness_plan.day_twelve.is_plan == False %}
            {% if profile.fitness_plan.day_twelve.completed == True %}
            <p>!Completed!</p>
            <a class="btn btn-grey rounded-0 my-2" title="Go to workout day page"
                href="{% url 'day' profile.fitness_plan.id profile.fitness_plan.day_twelve.id  %}">Again!</a>
            {% else %}
            {% if date_now >= profile.fitness_plan.day_twelve.available_from %}
            <a class="btn btn-grey rounded-0 my-2" title="Go to workout day page"
                href="{% url 'day' profile.fitness_plan.id profile.fitness_plan.day_twelve.id  %}">Workout!</a>
            {% endif %}
            {% endif %}
            {% endif %}
        </div>
    </div>
    <div class="col-sm-5 col-md-3 col-lg-2 mb-1">
        <div class="card h-100 border-0">
            <p>{{ profile.fitness_plan.day_thirteen.friendly_name }}</p>
            {% if profile.fitness_plan.day_thirteen.is_plan == False %}
            {% if profile.fitness_plan.day_thirteen.completed == True %}
            <p>!Completed!</p>
            <a class="btn btn-grey rounded-0 my-2" title="Go to workout day page"
                href="{% url 'day' profile.fitness_plan.id profile.fitness_plan.day_thirteen.id  %}">Again!</a>
            {% else %}
            {% if date_now >= profile.fitness_plan.day_thirteen.available_from %}
            <a class="btn btn-grey rounded-0 my-2" title="Go to workout day page"
                href="{% url 'day' profile.fitness_plan.id profile.fitness_plan.day_thirteen.id  %}">Workout!</a>
            {% endif %}
            {% endif %}
            {% endif %}
        </div>
    </div>
    <div class="col-sm-5 col-md-3 col-lg-2 mb-1">
        <div class="card h-100 border-0">
            <p>{{ profile.fitness_plan.day_fourteen.friendly_name }}</p>
            {% if profile.fitness_plan.day_fourteen.is_plan == False %}
            {% if profile.fitness_plan.day_fourteen.completed == True %}
            <p>!Completed!</p>
            <a class="btn btn-grey rounded-0 my-2" title="Go to workout day page"
                href="{% url 'day' profile.fitness_plan.id profile.fitness_plan.day_fourteen.id  %}">Again!</a>
            {% else %}
            {% if date_now >= profile.fitness_plan.day_fourteen.available_from %}
            <a class="btn btn-grey rounded-0 my-2" title="Go to workout day page"
                href="{% url 'day' profile.fitness_plan.id profile.fitness_plan.day_fourteen.id  %}">Workout!</a>
            {% endif %}
            {% endif %}
            {% endif %}
        </div>
    </div>
    <div class="col-sm-5 col-md-3 col-lg-2 mb-1">
        <div class="card h-100 border-0">
            <p>{{ profile.fitness_plan.day_fifteen.friendly_name }}</p>
            {% if profile.fitness_plan.day_fifteen.is_plan == False %}
            {% if profile.fitness_plan.day_fifteen.completed == True %}
            <p>!Completed!</p>
            <a class="btn btn-grey rounded-0 my-2" title="Go to workout day page"
                href="{% url 'day' profile.fitness_plan.id profile.fitness_plan.day_fifteen.id  %}">Again!</a>
            {% else %}
            {% if date_now >= profile.fitness_plan.day_fifteen.available_from %}
            <a class="btn btn-grey rounded-0 my-2" title="Go to workout day page"
                href="{% url 'day' profile.fitness_plan.id profile.fitness_plan.day_fifteen.id  %}">Workout!</a>
            {% endif %}
            {% endif %}
            {% endif %}
        </div>
    </div>
    <div class="col-sm-5 col-md-3 col-lg-2 mb-1">
        <div class="card h-100 border-0">
            <p>{{ profile.fitness_plan.day_sixteen.friendly_name }}</p>
            {% if profile.fitness_plan.day_sixteen.is_plan == False %}
            {% if profile.fitness_plan.day_sixteen.completed == True %}
            <p>!Completed!</p>
            <a class="btn btn-grey rounded-0 my-2" title="Go to workout day page"
                href="{% url 'day' profile.fitness_plan.id profile.fitness_plan.day_sixteen.id  %}">Again!</a>
            {% else %}
            {% if date_now >= profile.fitness_plan.day_sixteen.available_from %}
            <a class="btn btn-grey rounded-0 my-2" title="Go to workout day page"
                href="{% url 'day' profile.fitness_plan.id profile.fitness_plan.day_sixteen.id  %}">Workout!</a>
            {% endif %}
            {% endif %}
            {% endif %}
        </div>
    </div>
    <div class="col-sm-5 col-md-3 col-lg-2 mb-1">
        <div class="card h-100 border-0">
            <p>{{ profile.fitness_plan.day_seventeen.friendly_name }}</p>
            {% if profile.fitness_plan.day_seventeen.is_plan == False %}
            {% if profile.fitness_plan.day_seventeen.completed == True %}
            <p>!Completed!</p>
            <a class="btn btn-grey rounded-0 my-2" title="Go to workout day page"
                href="{% url 'day' profile.fitness_plan.id profile.fitness_plan.day_seventeen.id  %}">Again!</a>
            {% else %}
            {% if date_now >= profile.fitness_plan.day_seventeen.available_from %}
            <a class="btn btn-grey rounded-0 my-2" title="Go to workout day page"
                href="{% url 'day' profile.fitness_plan.id profile.fitness_plan.day_seventeen.id  %}">Workout!</a>
            {% endif %}
            {% endif %}
            {% endif %}
        </div>
    </div>
    <div class="col-sm-5 col-md-3 col-lg-2 mb-1">
        <div class="card h-100 border-0">
            <p>{{ profile.fitness_plan.day_eighteen.friendly_name }}</p>
            {% if profile.fitness_plan.day_eighteen.is_plan == False %}
            {% if profile.fitness_plan.day_eighteen.completed == True %}
            <p>!Completed!</p>
            <a class="btn btn-grey rounded-0 my-2" title="Go to workout day page"
                href="{% url 'day' profile.fitness_plan.id profile.fitness_plan.day_eighteen.id  %}">Again!</a>
            {% else %}
            {% if date_now >= profile.fitness_plan.day_eighteen.available_from %}
            <a class="btn btn-grey rounded-0 my-2" title="Go to workout day page"
                href="{% url 'day' profile.fitness_plan.id profile.fitness_plan.day_eighteen.id  %}">Workout!</a>
            {% endif %}
            {% endif %}
            {% endif %}
        </div>
    </div>
    <div class="col-sm-5 col-md-3 col-lg-2 mb-1">
        <div class="card h-100 border-0">
            <p>{{ profile.fitness_plan.day_nineteen.friendly_name }}</p>
            {% if profile.fitness_plan.day_nineteen.is_plan == False %}
            {% if profile.fitness_plan.day_nineteen.completed == True %}
            <p>!Completed!</p>
            <a class="btn btn-grey rounded-0 my-2" title="Go to workout day page"
                href="{% url 'day' profile.fitness_plan.id profile.fitness_plan.day_nineteen.id  %}">Again!</a>
            {% else %}
            {% if date_now >= profile.fitness_plan.day_nineteen.available_from %}
            <a class="btn btn-grey rounded-0 my-2" title="Go to workout day page"
                href="{% url 'day' profile.fitness_plan.id profile.fitness_plan.day_nineteen.id  %}">Workout!</a>
            {% endif %}
            {% endif %}
            {% endif %}
        </div>
    </div>
    <div class="col-sm-5 col-md-3 col-lg-2 mb-1">
        <div class="card h-100 border-0">
            <p>{{ profile.fitness_plan.day_twenty.friendly_name }}</p>
            {% if profile.fitness_plan.day_twenty.is_plan == False %}
            {% if profile.fitness_plan.day_twenty.completed == True %}
            <p>!Completed!</p>
            <a class="btn btn-grey rounded-0 my-2" title="Go to workout day page"
                href="{% url 'day' profile.fitness_plan.id profile.fitness_plan.day_twenty.id  %}">Again!</a>
            {% else %}
            {% if date_now >= profile.fitness_plan.day_twenty.available_from %}
            <a class="btn btn-grey rounded-0 my-2" title="Go to workout day page"
                href="{% url 'day' profile.fitness_plan.id profile.fitness_plan.day_twenty.id  %}">Workout!</a>
            {% endif %}
            {% endif %}
            {% endif %}
        </div>
    </div>
    <div class="col-sm-5 col-md-3 col-lg-2 mb-1">
        <div class="card h-100 border-0">
            <p>{{ profile.fitness_plan.day_twentyone.friendly_name }}</p>
            {% if profile.fitness_plan.day_twentyone.is_plan == False %}
            {% if profile.fitness_plan.day_twentyone.completed == True %}
            <p>!Completed!</p>
            <a class="btn btn-grey rounded-0 my-2" title="Go to workout day page"
                href="{% url 'day' profile.fitness_plan.id profile.fitness_plan.day_twentyone.id  %}">Again!</a>
            {% else %}
            {% if date_now >= profile.fitness_plan.day_twentyone.available_from %}
            <a class="btn btn-grey rounded-0 my-2" title="Go to workout day page"
                href="{% url 'day' profile.fitness_plan.id profile.fitness_plan.day_twentyone.id  %}">Workout!</a>
            {% endif %}
            {% endif %}
            {% endif %}
        </div>
    </div>
    <div class="col-sm-5 col-md-3 col-lg-2 mb-1">
        <div class="card h-100 border-0">
            <p>{{ profile.fitness_plan.day_twentytwo.friendly_name }}</p>
            {% if profile.fitness_plan.day_twentytwo.is_plan == False %}
            {% if profile.fitness_plan.day_twentytwo.completed == True %}
            <p>!Completed!</p>
            <a class="btn btn-grey rounded-0 my-2" title="Go to workout day page"
                href="{% url 'day' profile.fitness_plan.id profile.fitness_plan.day_twentytwo.id  %}">Again!</a>
            {% else %}
            {% if date_now >= profile.fitness_plan.day_twentytwo.available_from %}
            <a class="btn btn-grey rounded-0 my-2" title="Go to workout day page"
                href="{% url 'day' profile.fitness_plan.id profile.fitness_plan.day_twentytwo.id  %}">Workout!</a>
            {% endif %}
            {% endif %}
            {% endif %}
        </div>
    </div>
    <div class="col-sm-5 col-md-3 col-lg-2 mb-1">
        <div class="card h-100 border-0">
            <p>{{ profile.fitness_plan.day_twentythree.friendly_name }}</p>
            {% if profile.fitness_plan.day_twentythree.is_plan == False %}
            {% if profile.fitness_plan.day_twentythree.completed == True %}
            <p>!Completed!</p>
            <a class="btn btn-grey rounded-0 my-2" title="Go to workout day page"
                href="{% url 'day' profile.fitness_plan.id profile.fitness_plan.day_twentythree.id  %}">Again!</a>
            {% else %}
            {% if date_now >= profile.fitness_plan.day_twentythree.available_from %}
            <a class="btn btn-grey rounded-0 my-2" title="Go to workout day page"
                href="{% url 'day' profile.fitness_plan.id profile.fitness_plan.day_twentythree.id  %}">Workout!</a>
            {% endif %}
            {% endif %}
            {% endif %}
        </div>
    </div>
    <div class="col-sm-5 col-md-3 col-lg-2 mb-1">
        <div class="card h-100 border-0">
            <p>{{ profile.fitness_plan.day_twentyfour.friendly_name }}</p>
            {% if profile.fitness_plan.day_twentyfour.is_plan == False %}
            {% if profile.fitness_plan.day_twentyfour.completed == True %}
            <p>!Completed!</p>
            <a class="btn btn-grey rounded-0 my-2" title="Go to workout day page"
                href="{% url 'day' profile.fitness_plan.id profile.fitness_plan.day_twentyfour.id  %}">Again!</a>
            {% else %}
            {% if date_now >= profile.fitness_plan.day_twentyfour.available_from %}
            <a class="btn btn-grey rounded-0 my-2" title="Go to workout day page"
                href="{% url 'day' profile.fitness_plan.id profile.fitness_plan.day_twentyfour.id  %}">Workout!</a>
            {% endif %}
            {% endif %}
            {% endif %}
        </div>
    </div>
    <div class="col-sm-5 col-md-3 col-lg-2 mb-1">
        <div class="card h-100 border-0">
            <p>{{ profile.fitness_plan.day_twentyfive.friendly_name }}</p>
            {% if profile.fitness_plan.day_twentyfive.is_plan == False %}
            {% if profile.fitness_plan.day_twentyfive.completed == True %}
            <p>!Completed!</p>
            <a class="btn btn-grey rounded-0 my-2" title="Go to workout day page"
                href="{% url 'day' profile.fitness_plan.id profile.fitness_plan.day_twentyfive.id  %}">Again!</a>
            {% else %}
            {% if date_now >= profile.fitness_plan.day_twentyfive.available_from %}
            <a class="btn btn-grey rounded-0 my-2" title="Go to workout day page"
                href="{% url 'day' profile.fitness_plan.id profile.fitness_plan.day_twentyfive.id  %}">Workout!</a>
            {% endif %}
            {% endif %}
            {% endif %}
        </div>
    </div>
    <div class="col-sm-5 col-md-3 col-lg-2 mb-1">
        <div class="card h-100 border-0">
            <p class="card-title">{{ profile.fitness_plan.day_twentysix.friendly_name }}</p>
            {% if profile.fitness_plan.day_twentysix.is_plan == False %}
            {% if profile.fitness_plan.day_twentysix.completed == True %}
            <p>!Completed!</p>
            <a class="btn btn-grey rounded-0 my-2" title="Go to workout day page"
                href="{% url 'day' profile.fitness_plan.id profile.fitness_plan.day_twentysix.id  %}">Again!</a>
            {% else %}
            {% if date_now >= profile.fitness_plan.day_twentysix.available_from %}
            <a class="btn btn-grey rounded-0 my-2" title="Go to workout day page"
                href="{% url 'day' profile.fitness_plan.id profile.fitness_plan.day_twentysix.id  %}">Workout!</a>
            {% endif %}
            {% endif %}
            {% endif %}
        </div>
    </div>
    <div class="col-sm-5 col-md-3 col-lg-2 mb-1">
        <div class="card h-100 border-0">
            <p>{{ profile.fitness_plan.day_twentyseven.friendly_name }}</p>
            {% if profile.fitness_plan.day_twentyseven.is_plan == False %}
            {% if profile.fitness_plan.day_twentyseven.completed == True %}
            <p>!Completed!</p>
            <a class="btn btn-grey rounded-0 my-2" title="Go to workout day page"
                href="{% url 'day' profile.fitness_plan.id profile.fitness_plan.day_twentyseven.id  %}">Again!</a>
            {% else %}
            {% if date_now >= profile.fitness_plan.day_twentyseven.available_from %}
            <a class="btn btn-grey rounded-0 my-2" title="Go to workout day page"
                href="{% url 'day' profile.fitness_plan.id profile.fitness_plan.day_twentyseven.id  %}">Workout!</a>
            {% endif %}
            {% endif %}
            {% endif %}
        </div>
    </div>
    <div class="col-sm-5 col-md-3 col-lg-2 mb-1">
        <div class="card h-100 border-0">
            <p>{{ profile.fitness_plan.day_twentyeight.friendly_name }}</p>
            {% if profile.fitness_plan.day_twentyeight.is_plan == False %}
            {% if profile.fitness_plan.day_twentyeight.completed == True %}
            <p>!Completed!</p>
            <a class="btn btn-grey rounded-0 my-2" title="Go to workout day page"
                href="{% url 'day' profile.fitness_plan.id profile.fitness_plan.day_twentyeight.id  %}">Again!</a>
            {% else %}
            {% if date_now >= profile.fitness_plan.day_twentyeight.available_from %}
            <a class="btn btn-grey rounded-0 my-2" title="Go to workout day page"
                href="{% url 'day' profile.fitness_plan.id profile.fitness_plan.day_twentyeight.id  %}">Workout!</a>
            {% endif %}
            {% endif %}
            {% endif %}
        </div>
    </div>
</div>
{% else %}
<p class="text-black">You do not have your fitness plan picked yet.</p>
<a href="{% url 'plans' %}" class="btn btn-grey rounded-0 my-2">
    <span class="icon mr-2">
        <i class="fa-solid fa-dumbbell"></i>
    </span>
    <span class="text-uppercase">Find a Fitness plan for you</span>
</a>
{% endif %}

{% endblock %}
