<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">

        <!-- fitness plans -->
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'plans' %}" id="plans-link">
                Fitness Plans
            </a>
        </li>
        <!-- merchndise drop down menu -->
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="merchandise-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Merchandise
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="homeware-link">
                <a href="{% url 'merchandise' %}?category=workout_equipment" class="dropdown-item">Workout equipment</a>
                <a href="{% url 'merchandise' %}?category=activewear" class="dropdown-item">Activewear</a>
                <a href="{% url 'merchandise' %}?category=activewear,workout_equipment" class="dropdown-item">All Merchandise</a>
            </div>
        </li>
        <!-- afiliated gyms link -->
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'gyms' %}" id="gyms-link">
                Our Gyms
            </a>
        </li>
    </ul>
</div>